<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="container-fluid">
                <!-- <div> -->
                    <div class="name">
                        ABC Hospital Patient Dashboard</div>
                
                <div class="nav navbar-nav1">
                    <a href="#" class="btn">Copyrights</a>
                    <a href="#" class="btn">Settings</a>
                    <a href="#" class="btn">Log In</a>
                </div>
            </div>
        </div>
    </header>
    
</body>