<!-- <body> -->
<!-- <div class="patient-table"> -->
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>MRN</th>
            <th>DOB</th>
            <th>Department</th>
            <th>Physician</th>
            <th>Status</th>
          </tr>
          <tr class="Patient">
            <td>Janes</td>
            <td>Alan</td>
            <td>MRN21</td>
            <td>10/9/1987</td>
            <td>Neurology</td>
            <td>Dr. Kyle</td>
            <td>Active</td>
          </tr>
          <tr class="Patient">
            <td>ABC</td>
            <td>wend</td>
            <td>MRN24</td>
            <td>10/9/1987</td>
            <td>Cardiology</td>
            <td>Dr. Georgina</td>
            <td>Completed</td>
          </tr>
          <tr class="Patient">
            <td>ABC</td>
            <td>wend</td>
            <td>MRN24</td>
            <td>10/9/1987</td>
            <td>Cardiology</td>
            <td>Dr. Georgina</td>
            <td>Completed</td>
          </tr>
          <tr class="Patient">
            <td>ABC</td>
            <td>wend</td>
            <td>MRN24</td>
            <td>10/9/1987</td>
            <td>Cardiology</td>
            <td>Dr. Georgina</td>
            <td>Completed</td>
          </tr>
    </table>
<!-- </div> -->
<!-- </body> -->